In [1]:
import numpy as np

In [2]:
a1 = np.array([1,2,3])
a1

array([1, 2, 3])

In [3]:
a2 = np.array([[1,2,3],[4,5,6]])
a2

array([[1, 2, 3],
       [4, 5, 6]])

In [4]:
a3 = np.array([
    [
        [1,2,3],
        [4,5,6],
        [7,8,9]],
    [[10,11,12],
    [13,14,15],
    [16,17,18]]
    ])


a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [5]:
import pandas as pd

df = pd.DataFrame(a2)
df

   0  1  2
0  1  2  3
1  4  5  6

In [7]:
ones= np.ones((2,3)) # fills the array with variations of ones
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [8]:
zeros = np.zeros((2,3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

-use shift + tab into a function parentesis and jupyter will show a hint

In [10]:
range_array = np.arange(0, 10, 2) #start , finish, steps
range_array

array([0, 2, 4, 6, 8])

In [14]:
random_array = np.random.randint(0,10 , size=(3,4)) # randint = random of intiger , first the range of intigers then size of array
random_array

array([[6, 6, 7, 5],
       [2, 1, 3, 0],
       [4, 9, 6, 1]])

In [15]:
random_array.shape

(3, 4)

In [17]:
random2 = np.random.random((5,3))
random2

array([[0.32103679, 0.98203876, 0.76990081],
       [0.0927393 , 0.81476902, 0.98334596],
       [0.72550137, 0.88025697, 0.43824575],
       [0.60439898, 0.81740371, 0.04634713],
       [0.06611155, 0.64753945, 0.3532844 ]])

In [21]:
np.random.seed(seed=0)#creates a instance where all the values of random are the same every time the cell is run , so you can share the exact data
random_array_3 = np.random.random((3,5))
random_array_3

array([[0.5488135 , 0.71518937, 0.60276338, 0.54488318, 0.4236548 ],
       [0.64589411, 0.43758721, 0.891773  , 0.96366276, 0.38344152],
       [0.79172504, 0.52889492, 0.56804456, 0.92559664, 0.07103606]])

In [23]:
np.unique(range_array)# shows the unique values of an array

array([0, 2, 4, 6, 8])